@model HealthyProject.Models.Subcategoria

@{
    ViewBag.Title = "Nova Subcategoria";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label col-md-2" for="Nome">Subcategoria</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })

        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.Label("CategoriaID", "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CategoriaID", new SelectList(ViewBag.Categorias, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>


}
<div>
    @Html.ActionLink("Regressar", "Index")
</div>

