@model IEnumerable<HealthyProject.Models.Subcategoria>
</br>
</br>
@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr style="background-color:orange; font-size:large">
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td style="text-align:center">
            @Html.ActionLink("Editar", "Edit", new { id=item.SubcategoriaID })
        </td>
    </tr>
}

</table>
