@model HealthyProject.Models.Post
<table class="table">
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            <img src="http://www.icone-png.com/png/54/53785.png" height="80" width="70" />
        </td>
        <td>
            @Model.AspNetUser.Utilizador.Nome 
            <br />
            @Model.Data
        </td>
        <td>
            @Model.Texto
        <br /><br />
            @if (Model.SubcategoriaID == 1)
            {
                var videoID = Model.Link.Substring(Model.Link.IndexOf("?v=") + 3);
                <iframe width="500" height="280" style="padding-left:150px"; src="https://www.youtube.com/embed/@videoID" frameborder="0" allowfullscreen></iframe>
            }
        </td>

    </tr>

    @foreach (var comentario in Model.Comentarios.OrderBy(c => c.Data))     
    {
        <tr>
            <td>
                @comentario.AspNetUser.Utilizador.Nome
                <br />
                @comentario.Data
            </td>
            <td>
                @comentario.Comment
            </td>
            <td>
                @using (Ajax.BeginForm("Opiniao", "Forum", new { id = comentario.CommentID }, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "divComentarios" }))
                {
                    <button class="Gosto" name="selectedOpinion" value="true"></button>
                    <label id="likesLabel">@(comentario.Opiniaos.Where(o => o.Opiniao1 == true).Count() - comentario.Opiniaos.Where(o => o.Opiniao1 == false).Count())</label> <label>Likes</label>
                    <button class="naoGosto" name="selectedOpinion" value="false"></button>
                }
            </td>
        </tr>
    }
    </table>
