@model HealthyProject.Models.Post
@{
    ViewBag.Title = "Novo Post";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<h2>Novo Post</h2>
<div class="form-group">
    <label class="control-label col-md-2" for="Titulo">Titulo</label>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
    </div>
</div>
<br/>
<br/>
<div class="form-group">
    <label class="control-label col-md-2" for="Texto" required>Texto</label>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Texto, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "text-danger" })
    </div>
</div>
<br />
<br />
<div class="form-group">
    <label class="control-label col-md-2" id="Link">Link</label>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
    <br />
    <br />
    <div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    }
    <div>
        @Html.ActionLink("Regressar", "Index")
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}