@model IEnumerable<HealthyProject.Models.Categoria>
</br>
</br>
</br>
@{
    ViewBag.Title = "Forum";
}

@if (User.IsInRole("Admin"))
{
    <div class="form-group row">
        <div class="col-md-10">
            @*<button class="mybtn"> @Html.ActionLink("Criar Categoria", "CreateCategoria", "Categorias")</button>*@

            @Html.ActionLink("Criar Categoria", "CreateCategoria", "Categorias",null,htmlAttributes:new {@class="mybtn"})

            @Html.ActionLink("Criar Subcategoria", "CreateSubcategoria", "Subcategorias", null, htmlAttributes: new { @class = "mybtn" })
        </div>
    </div>
}
<table style="width:100%; background-color:antiquewhite">

    @foreach (var categoria in Model)
    {
        <tr>
            <th colspan="2" style="background-color:lightcoral; padding-left:50px; text-align:center; font-size:30px">
                @Html.DisplayFor(modelItem => categoria.Nome)
            </th>
        </tr>
        foreach (var subcategoria in categoria.Subcategorias)
        {
            <tr style="border-bottom-style:double; border-bottom-color:coral; ">
                <td class="col-md-10" style="font-size:25px; padding-left:420px; text-align:center">
                    @Html.ActionLink(subcategoria.Nome, "Subcategoria", "Forum", new { id = subcategoria.SubcategoriaID }, null)
                </td>
                <td>
                    <img src="~/Content/Images/Forum/@(subcategoria.SubcategoriaID).jpg" style="height:50px; padding-right: 300px; width:60; text-align:left" />
                </td>
            </tr>
        }
    }
</table>