@model HealthyProject.Models.Post

@{
    ViewBag.Title = "Post";
}

<h2>@Model.Titulo</h2>

<table class="table">
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Model.AspNetUser.Utilizador.Nome
            <br />
            @Model.Data
        </td>
        <td>
            @Model.Texto
        </td>

    </tr>
    @foreach (var comentario in Model.Comentarios)
    {
        <tr>
            <td>
                @comentario.AspNetUser.Utilizador.Nome
                <br />
                @comentario.Data
            </td>
            <td>
                @comentario.Comment
            </td>
            <td>
                <button class="Gosto"/>@*fazer com actionLink em vez de button!!! e fazer um count para aparecer o numero de likes!*@
            </td>
        </tr>
    }
</table>
@using (Html.BeginForm("Post", "Forum", new { postId = Model.PostID }, FormMethod.Post, new {  @class = "form-newComment" } ))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <label class="control-label col-md-2" for="Texto">Novo Comentário</label>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextArea("Comment")
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

        }
