@model HealthyProject.Models.Post
</br>
</br>
@{
    ViewBag.Title = "Post";
}

<h2 style="text-align:center">@Model.Titulo</h2>


    <div id="divComentarios">
        @{Html.RenderPartial("_PostPartial", Model); }
    </div>

    @using (Ajax.BeginForm("Post", "Forum", new { postId = Model.PostID }, new AjaxOptions() { OnSuccess = "CleanTextArea", HttpMethod = "Post", UpdateTargetId = "divComentarios" }))
    {
        @Html.AntiForgeryToken()
        <tr>
            <div class="form-horizontal">
@if (User.Identity.IsAuthenticated)
{
                <label class="col-md-2" for="Texto" style="color:steelblue;font-size:large">Novo Comentário</label>
                <br />
                <br />
}
            </div>
        </tr>
        <tr>
            <div class="form-group">
@if (User.Identity.IsAuthenticated)
{
                <div class="col-md-2">
                    @Html.TextArea("Comment")
                </div>
}
            </div>
        </tr>
        <br />
        <br />
        <div class="form-group">
@if (User.Identity.IsAuthenticated)
{
            <div class="col-md-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-default" style="border-radius:12px; font-size:large; font-style:unset; background-color: #e6d338;box-shadow: 0 9px rgba(0, 0, 0, 0.63)" />
            </div>
}
        </div>
    }
<br/>
<div>
    @Html.ActionLink("Regressar", "Subcategoria", new { id = Model.SubcategoriaID })
</div>
@section Scripts{ 
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function updateLikes() {
            $('.likesLabel', $(this)).text(@ViewBag.Likes);
        }
        function CleanTextArea(){
            $('#Comment').val('');
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
