@model HealthyProject.Models.Post

@{
    ViewBag.Title = "Post";
}

<h2>Post</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Model.AspNetUser.Utilizador.Nome
            <br/>
            @Model.Data
        </td>
        <td>
            @Model.Texto
        </td>

    </tr>
@foreach (var comentario in Model.Comentarios) {
    <tr>
        <td>
            @comentario.AspNetUser.Utilizador.Nome
            <br />
            @comentario.Data
        </td>
        <td>
            @comentario.Comment
        </td>
    </tr>
}

</table>
