@model HealthyProject.Models.Objectivo

@{
    ViewBag.Title = "Details";
}

@if (ViewBag.SemDados != null)
{
    <br />
    <br />
    <br />
    <div class="centerAlign">
        <img src="@Url.Content("https://i2.wp.com/1.bp.blogspot.com/-2bMNd_UnqzY/T5leMQhNFZI/AAAAAAAAALI/s-6dxHzS7Kg/s1600/page-not-found-404.png")" style="height: 600px; width:600px; margin: auto;" />
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Aparentemente o seu perfil ainda não foi definido, o que impossibilita o correcto funcionamento desta página. Por favor preencha os campos necessários no seu Perfil de Utilizador.</strong>
        </div>
        <br />
        @Html.ActionLink("Criar Perfil", "Index", "Manage", null, new { @class = "img-btn-getpeso modal-link mybtn", title = "Cria-te" })
    </div>
}
else
{
    <h2>Details</h2>

        <div>
            <h4>Objectivo</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Data de Início
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Data_inicio)
                </dd>

                <dt>
                    Data de Conclusão
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Data_fim)
                </dd>

                <dt>
                    Peso a atingir
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Peso_objectivo)
                </dd>

                <dt>
                    Intake Diário Recomendado
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Intake_diarioR)
                </dd>

                <dt>
                    Intake Diário Actual
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Intake_diarioA)
                </dd>

                <dt>
                    Nome do Utilizador
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Utilizador.Nome)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ObjectivoID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

}
