@model HealthyProject.Models.Objectivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Objectivo</h4>
    <hr />
    <dl class="dl-horizontal" >
        <dt>
            Data de Início
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_inicio)
        </dd>

        <dt>
            Data de Conclusão
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_fim)
        </dd>

        <dt>
            Peso a atingir
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso_objectivo)
        </dd>

        <dt>
            Intake Diário Recomendado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intake_diarioR)
        </dd>

        <dt>
            Intake Diário Actual
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intake_diarioA)
        </dd>

        <dt>
            Nome do Utilizador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizador.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ObjectivoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
