@model IEnumerable<HealthyProject.Models.Objectivo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData["Alert"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Ja existe um objectivo definido por concluir.</strong>
    </div>
}
    

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_fim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso_objectivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intake_diarioR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizador.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_fim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso_objectivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intake_diarioR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilizador.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ObjectivoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ObjectivoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ObjectivoID })
        </td>
    </tr>
}

</table>
    <div id="chartContainer" style="height: 500px; width: 100%;">
    </div>

@section Scripts{
<script type="text/javascript">
  window.onload = function () {
  var chart = new CanvasJS.Chart("chartContainer",{
    animationEnabled: true,
    backgroundColor: "#ffffff",
    title:{
        text: "Objectivo Actual"
    },

    toolTip: {
        shared: true
    },

    axisY: {
        interlacedColor: "#F0F8FF",
        title: "Intake diário"
    }, 

    axisX: {
        title: "Dia da semana"
    },

    data: [{
        type: "column",
        showInLegend: true,
        name: "IDA",
        legendText: "Intake Diário Submetido",
        dataPoints: [
            { y: 171, label: "Segunda"},
            { y: 155, label: "Terça" },
            { y: 150, label: "Quarta" },
            { y: 165, label: "Quinta" },
            { y: 195, label: "Sexta" },
            { y: 168, label: "Sábado" },
            { y: 128, label: "Domingo"}
        ]
    },
    {
        type: "line",
        showInLegend: true,
        name: "IDR",
        legendText: "Intake Diário Recomendado",
        dataPoints: [
            { y: 150 },
            { y: 150 },
            { y: 150 },
            { y: 150 },
            { y: 150 },
            { y: 150 },
            { y: 150 }
        ]
    }

    ]
  });

  chart.render();
  }
</script>
<script src="@Url.Content("~/Content/canvasjs.min.js")"></script>
<script src="@Url.Content("~/Content/jquery.canvasjs.min.js")"></script>
}