@model IEnumerable<HealthyProject.Models.Objectivo>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Alert"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Ja existe um objectivo definido por concluir.</strong>
    </div>
}

<br />
<br />
@if (ViewBag.IntakeR == null)
{
    <p>
        @Html.ActionLink("Create Objective", "Create")
    </p>

    <div id="chartContainer" style="height: 500px; width: 100%;"></div>
}
else
{
    <div>
        <div id="chartContainer" style="height: 500px; width: 100%;"></div>
        <br />
        <div style="float:left">
            @Html.ActionLink("Add Meal", "Create", "Refeicoes", htmlAttributes: (new { @class = "mybtn" }))
        </div>
        <div style="float:right">
            @Html.ActionLink("Delete Objective", "Delete", null, htmlAttributes: (new { @class = "mybtn"}))
        </div>
        <br />
        <br />
    </div>
    <br />
}


@section Scripts{
    <script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            backgroundColor: "#ffffff",
            title: {
                text: "Objectivo Actual"
            },

            toolTip: {
                shared: true
            },

            axisY: {
                minimum: @Html.Raw(ViewBag.IMath)-750,
                maximum: @Html.Raw(ViewBag.IMath)+750,
                interlacedColor: "#F0F8FF",
                title: "Intake diário"
    },

    axisX: {
        title: "Dia da semana",
    },

        data: [{
            type: "column",
            showInLegend: true,
            name: "IDA",
            legendText: "Intake Diário Submetido",
            dataPoints: @Html.Raw(ViewBag.DataPoints),
    },
        {
            type: "line",
            showInLegend: true,
            name: "IDR",
            legendText: "Intake Diário Recomendado",
            dataPoints: @Html.Raw(ViewBag.IntakeR),
        }]
  });

    chart.render();
  }
    </script>
    <script src="@Url.Content("~/Content/canvasjs.min.js")"></script>
    <script src="@Url.Content("~/Content/jquery.canvasjs.min.js")"></script>
}