@model IEnumerable<HealthyProject.Models.Objectivo>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Alert"] != null)
{
    <br />
    <br />
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Ja existe um objectivo definido por concluir.</strong>
    </div>
}

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content" style="width: 570px !important; margin: 100px auto !important; border: 5px solid #3A87AD;">
        <div class="modal-body">
        </div>
    </div>
</div>  
<br />
<br />
@if (ViewBag.IntakeR == null)
{
    <p>
        @Html.ActionLink("Create Objective", "Create")
    </p>

    <div id="chartContainer" style="height: 500px; width: 100%;"></div>
}
else
{
    <div>
        <div id="chartContainer" style="height: 500px; width: 100%;"></div>
        <br />
        <div style="float:left">
            @if(ViewBag.Teste != null)
            {
                @Html.ActionLink("Editar Peso", "getPeso", null, new { @class = "img-btn-getpeso modal-link mybtn", title = "Modificar Peso" })
            }
            else
            {
                @Html.ActionLink("Adicionar refeicao", "Create", "Refeicoes", htmlAttributes: (new { @class = "mybtn" }))
            }      
        </div>
        <div style="float:right">
            @Html.ActionLink("Delete Objective", "Delete", null, htmlAttributes: (new { @class = "mybtn"}))
        </div>
        <br />
        <br />
    </div>
    <br />
}
<br />
<h1 class="centerAlign">Histórico</h1>

<div class="container">
    <div id="imgcarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#imgcarousel" data-slide-to="0" class="active"></li>
            <li data-target="#imgcarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <p id="Totalkg" style="width:99%; position: absolute; height:500px;"></p>
            </div>
            <div class="item">
                <p id="NrObjectivos" style="height:500px; width: 99%; position:absolute; left:1250px;"></p>
            </div>
            @*http://www.dotnetcurry.com/jquery/1173/responsive-image-carousel-bootstrap-jquery*@
        </div>
    </div>
</div>
@*<div style="width:100%; overflow-x:scroll; height: 550px; overflow-y: hidden; position: relative;">
    <p id="Totalkg" style="width:99%; position: absolute; height:500px;"></p>
    <p id="NrObjectivos" style="height:500px; width: 99%; position:absolute; left:1250px;"></p>
    <br />
    </div>*@


    @section Scripts{
        <script type="text/javascript">
        window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            backgroundColor: "#ffffff",
            title: {
                text: "Objectivo Actual"
            },

            toolTip: {
                shared: true
            },

            axisY: {
                minimum: @Html.Raw(ViewBag.IMath)-750,
                maximum: @Html.Raw(ViewBag.IMath)+750,
                interlacedColor: "#F0F8FF",
                title: "Intake diário"
    },

    axisX: {
        title: "Dia da semana",
    },

        data: [{
            type: "column",
            showInLegend: true,
            name: "IDA",
            legendText: "Intake Diário Submetido",
            dataPoints: @Html.Raw(ViewBag.DataPoints),
    },
        {
            type: "line",
            showInLegend: true,
            name: "IDR",
            legendText: "Intake Diário Recomendado",
            dataPoints: @Html.Raw(ViewBag.IntakeR),
        }]
            });
            chart.render();

        var chart = new CanvasJS.Chart("Totalkg", {
            animationEnabled: true,
            backgroundColor: "#ffffff",
            title: {
                text: "Evolução do Peso desde o registo"
            },

            toolTip: {
                shared: true
            },

            axisY: {
                interlacedColor: "#F0F8FF",
                title: "Peso"
            },

            axisX: {
                title: "Data",
             },

            data: [
                {
                type: "line",
                showInLegend: true,
                name: "Peso",
                legendText: "Peso por data",
                dataPoints: @Html.Raw(ViewBag.Total),
                }]
            });
            chart.render();

                    var chart = new CanvasJS.Chart("NrObjectivos", {
            animationEnabled: true,
            backgroundColor: "#ffffff",
            title: {
                text: "Nr de Objectivos"
            },

            toolTip: {
                shared: true
            },

            axisY: {
                interlacedColor: "#F0F8FF",
            },

            axisX: {
                title: "Objectivos",
             },

            data: [
                {
                type: "column",
                showInLegend: true,
                name: "Número",
                legendText: "Número de objectivos",
                dataPoints: @Html.Raw(ViewBag.Object),
                }]
            });
    chart.render();
}
        $(function () {
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
        });
        </script>
        <script src="@Url.Content("~/Content/canvasjs.min.js")"></script>
        <script src="@Url.Content("~/Content/jquery.canvasjs.min.js")"></script>
    }
