@model HealthyProject.Models.Refeico

@{
    ViewBag.Title = "Details";
}
@if (ViewBag.SemDados != null)
{
    <br />
    <br />
    @Html.ActionLink("Cria-te", "Index", "Manage", null, new { @class = "img-btn-getpeso modal-link mybtn", title = "Cria-te" });
}
else
{
<h2>Details</h2>

<div>
    <h4>Refeico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistoDiario.RegistoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistoDiario.RegistoID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RefeicaoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}