@model IEnumerable<HealthyProject.Models.Refeico>

@{
    ViewBag.Title = "Index";
}

<h2>Diário Alimentar</h2>

<br />

Seleccione a data que pretende ver: 

@using (Html.BeginForm("Index", "Refeicoes"))
{
    @Html.AntiForgeryToken()
    <input id="dateInput" type="date" width="10" class="date" name="dateInput"  value="Guardar"  />
    <input id="button" type="submit" value="Guardar">
}

<br />
<br />
<br />

<table class="table tableDailyMeals">
    <tr>
        <th>Refeição</th>
        <th>Descrição</th>
        <th>Kcal</th>
        <th>Proteínas</th>
        <th>
            <p>Hidratos de Carbono</p>
            <p style="font-size:80%">Açúcar</p>
        </th>
        <th>Gordura</th>
        <th></th>
    </tr>

    @foreach (var refeicao in Model)
    {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => refeicao.RefeicaoID)<br />
                    @Html.DisplayFor(modelItem => refeicao.Data)<br />*@
                    @Html.DisplayFor(modelItem => refeicao.Tipo)
                    <p style="font-size:70%; color:red">@Html.ActionLink("Editar refeição", "Edit", new { id = refeicao.RefeicaoID })</p>
</td>
                <td>
                    @foreach (var prato in refeicao.RefeicaoPratos)
                    {
                        <p>
                            @prato.Prato.Nome <span>   </span> @prato.Dose <span> gr</span>
                            <span style="font-size:70%">@Html.ActionLink("Eliminar", "Delete", "RefeicaoPratoes")</span>
                        </p>
                    }
                    @foreach (var ingrediente in refeicao.RefeicaoIngredientes)
                    {
                        <p>
                            @ingrediente.Ingrediente.Nome <span>   </span> @ingrediente.Quantidade <span> gr</span>
                        </p>
                    }
                    @foreach (var bebida in refeicao.RefeicaoBebidas)
                    {
                        <p> @bebida.Bebida.Nome <span>   </span> @bebida.Quantidade <span> ml</span> </p>
                    }
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p style="font-size:80%">@Html.ActionLink("Adicionar Prato", "Create", "RefeicaoPratoes", new { RefeicaoID = refeicao.RefeicaoID }, null)</p>
                    <p style="font-size:80%">@Html.ActionLink("Adicionar Ingrediente", "Create", "RefeicaoIngredientes", new { RefeicaoID = refeicao.RefeicaoID }, null)</p>
                    <p style="font-size:80%">@Html.ActionLink("Adicionar Bebida", "Create", "RefeicaoBebidas", new { RefeicaoID = refeicao.RefeicaoID }, null)</p>
                </td>
            </tr>
        }
    <!--        <tr>
                <td>Pequeno-almoço</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p style="font-size:80%">@Html.ActionLink("Add dish", "Create", "RefeicaoPratoes")</p>
                    <p style="font-size:80%"><a href="">Add ingredients</a></p>
                </td>
            </tr>
            <tr>
                <td>Almoço</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p style="font-size:80%"> @Html.ActionLink("Add dish", "Create", "RefeicaoPratoes")</p>
                    <p style="font-size:80%"><a href="">Add ingredients</a></p>
                </td>
            </tr>
            <tr>
                <td>Lanche</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p style="font-size:80%"> @Html.ActionLink("Add dish", "Create", "RefeicaoPratoes")</p>
                    <p style="font-size:80%"><a href="">Add ingredients</a></p>
                </td>
            </tr>
            <tr>
                <td>Jantar</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p style="font-size:80%"> @Html.ActionLink("Add dish", "Create", "RefeicaoPratoes")</p>
                    <p style="font-size:80%"><a href="">Add ingredients</a></p>
                </td>
            </tr>-->
    <tr>
        <td>@Html.ActionLink("Adicionar Refeição", "Create")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>





    @*<div>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegistoDiario.RegistoID)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistoDiario.RegistoID)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.RefeicaoID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.RefeicaoID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.RefeicaoID })
                        </td>
                    </tr>
                }

            </table>
        </div>*@
@*@Html.EditorForModel(model => HealthyProject.Models.FoodDiaryDate)*@
