@model IEnumerable<HealthyProject.Models.Refeico>

@{
    ViewBag.Title = "Index";
}
@if (ViewBag.SemDados != null)
{
    <br />
    <br />
    <br />
    <div class="centerAlign">
        <img src="@Url.Content("https://i2.wp.com/1.bp.blogspot.com/-2bMNd_UnqzY/T5leMQhNFZI/AAAAAAAAALI/s-6dxHzS7Kg/s1600/page-not-found-404.png")" style="height: 600px; width:600px; margin: auto;" />
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Aparentemente o seu perfil ainda não foi definido, o que impossibilita o correcto funcionamento desta página. Por favor preencha os campos necessários no seu Perfil de Utilizador.</strong>
        </div>
        <br />
        @Html.ActionLink("Criar Perfil", "Index", "Manage", null, new { @class = "img-btn-getpeso modal-link mybtn", title = "Cria-te" })
    </div>
}
else
{
    <br />
    <br />
    <h2>Diário Alimentar</h2>

    <br />

    <p>Seleccione a data que pretende ver:</p>

using (Html.BeginForm("Index", "Refeicoes"))
{
        @Html.AntiForgeryToken()
            <input id="dateInput" type="date" width="10" class="date" name="dateInput" value="Guardar" />
            <input id="button" type="submit" value="Guardar">
}

<br />
<br />
<br />

<table class="table tableDailyMeals">
    <tr>
        <th>Refeição</th>
        <th>Descrição</th>
        <th>Kcal</th>
        <th>Proteínas</th>
        <th>
            <p>Hidratos de Carbono</p>
            <p style="font-size:80%">Açúcar</p>
        </th>
        <th>Gordura</th>
        <th></th>
    </tr>

    @foreach (var refeicao in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => refeicao.RefeicaoID)<br />
                    @Html.DisplayFor(modelItem => refeicao.Data)<br /> so para shit*@
                @Html.DisplayFor(modelItem => refeicao.Tipo)
                <p style="font-size:70%; color:red">@Html.ActionLink("Editar refeição", "Edit", new { id = refeicao.RefeicaoID })</p>
            </td>
            <td>
                @foreach (var prato in refeicao.RefeicaoPratos)
                {
                    <p>
                        @prato.Prato.Nome <span>   </span> @prato.Dose <span> gr</span>
                        <span style="font-size:70%">@Html.ActionLink("Eliminar", "Delete", "RefeicaoPratoes", new { RefeicaoID = refeicao.RefeicaoID, PratoID = prato.PratoID }, null)</span>
                    </p>
                }
                @foreach (var ingrediente in refeicao.RefeicaoIngredientes)
                {
                    <p>
                        @ingrediente.Ingrediente.Nome <span>   </span> @ingrediente.Quantidade <span> gr</span>
                        <span style="font-size:70%">@Html.ActionLink("Eliminar", "Delete", "RefeicaoIngredientes", new { RefeicaoID = refeicao.RefeicaoID, IngredienteID = ingrediente.IngredienteID }, null)</span>
                    </p>
                }
                @foreach (var bebida in refeicao.RefeicaoBebidas)
                {
                    <p>
                        @bebida.Bebida.Nome <span>   </span> @bebida.Quantidade <span> ml</span>
                        <span style="font-size:70%">@Html.ActionLink("Eliminar", "Delete", "RefeicaoBebidas", new { RefeicaoID = refeicao.RefeicaoID, BebidaID = bebida.BebidaID }, null)</span>
                    </p>
                }
            </td>
            <td>@ViewBag.KcalInfo</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <p style="font-size:80%">@Html.ActionLink("Adicionar Prato", "Create", "RefeicaoPratoes", new { RefeicaoID = refeicao.RefeicaoID }, null)</p>
                <p style="font-size:80%">@Html.ActionLink("Adicionar Ingrediente", "Create", "RefeicaoIngredientes", new { RefeicaoID = refeicao.RefeicaoID }, null)</p>
                <p style="font-size:80%">@Html.ActionLink("Adicionar Bebida", "Create", "RefeicaoBebidas", new { RefeicaoID = refeicao.RefeicaoID }, null)</p>
            </td>
        </tr>
    }
    <tr>
        <td>@Html.ActionLink("Adicionar Refeição", "Create")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
}