@model HealthyProject.Models.Eutilizador

@{
    <br />
        <br />
    ViewBag.Title = "Perfil do Utilizador";
}
<br/>
<body style="background-image:url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?auto=format&fit=crop&w=931&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); background-size:cover">
<b  style="padding-left:700px; font-family:MingLiU_HKSCS; font-size:xx-large; text-align:left">@ViewBag.Title</b>

@if (ViewBag.UserGuide != null)
{
    <br />
    <br />
    <br />
    <div class="centerAlign">
        <div class="alert alert-success alert-dismissable">
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Esta é a página onde poderá editar o seu perfil.</strong>
            <br />
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Para começar, crie o seu perfil. Os parâmetros obrigatórios estão identificados e são necessários para o funcionamento do website.</strong>
            <br />
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Os restantes dados, actualmente, são meramente informativos.</strong>
        </div>
    </div>
}

@if (ViewBag.UserGuide2 != null)
{
    <br />
    <br />
    <br />
    <div class="centerAlign">
        <div class="alert alert-success alert-dismissable">
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Criado o perfil, pode agora criar um objectivo e fazer registos diários relativamente à sua alimentação!</strong>
            <br />
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Para começar, vamos criar um objectivo de forma a perceber como tudo isto funciona.</strong>
            <br />
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Carregue no botão abaixo apresentado para aceder à página dos objectivos.</strong>
            <br />
            @Html.ActionLink("Criar Objectivo", "Index", "Objectivoes", null, htmlAttributes: new { @class = "mybtn" })
        </div>
    </div>
}
<h2>@ViewBag.Title.</h2>
<p class="text-success" style="font-family:PMingLiU">@ViewBag.StatusMessage</p>

<div style="padding-left:700px; font-family:PMingLiU;font-size:x-large">
    @*<h4>Dados do Utilizador</h4>*@
    <hr />
    <dl class="dl-horizontal">


        <dt>
       
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Nome)

            @*Mostra o nome*@
        </dt>

        <dd>
        <dd style="text-align:left">
            @Html.DisplayFor(model => model.Nome)
            @*Mostra qual nome*@
        </dd>
        <dt>
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd>
        <dd style="text-align:left">
            @Html.DisplayFor(model => model.Genero)
            @if (Model.Genero == "F")
            {
                <img src="http://www.rw-designer.com/icon-image/8495-256x256x32.png" style="width:50px;height:50px" />
            }
            else
            {
                <img src="http://www.rw-designer.com/icon-image/8498-256x256x32.png" style="width:50px;height:50px"/>
            }
        </dd>
        <dt>
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Data_nascimento)
        </dt>
        <dd>

            @Html.DisplayFor(model => model.Data_nascimento)
        <dd style="text-align:left">
            
            @Html.DisplayFor(model=>model.Data_nascimento)

        </dd>
    </dl>
    <br />
    <br />
    <br />

    @using (Html.BeginForm("Index", "Manage"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.UserID)
        <table>
            @*a classe hiden esconde toda esta tabela*@
            <thead></thead>
            <tbody>
                @*utilizo o begin form que reconhece a acao como post no conrolador manage*@
                <tr>
                    <td><span style="color: red;">*</span>  -   Parâmetros obrigatórios</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nome) <span style="color:red;">*</span></th>
                    <th>@Html.EditorFor(model => model.Nome)</th>
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Genero)<span style="color:red;">*</span></th>

                    <th>
                        @Html.DropDownListFor(model => model.Genero, (IEnumerable<SelectListItem>)ViewBag.Genders)
                        @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })

                    </th>
                </tr>
                <tr>
                    <th>

                        @Html.DisplayNameFor(model => model.Data_nascimento)<span style="color:red;">*</span>

                    </th>

                    <th>

                        @Html.EditorFor(model => model.Data_nascimento)


                        @Html.ValidationMessageFor(model => model.Data_nascimento, "", new { @class = "text-danger" })



                <tr>
                    <th>@Html.DisplayNameFor(model => model.Peso)<span style="color:red;">*</span></th>

                    <th>@Html.EditorFor(model => model.Peso)</th>
                    @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "text-danger" })
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Altura)<span style="color:red;">*</span></th>

                    <th>@Html.EditorFor(model => model.Altura)</th>
                    @Html.ValidationMessageFor(model => model.Altura, "", new { @class = "text-danger" })
                </tr>


                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Actividade_fisica)<span style="color:red;">*</span>

                        <p> 1 - Sedentario: Uma ou menos vezes por mes</p>
                        <p>2 - Leve: Poucas vezes ao mes</p>
                        <p> 1 - Sedentário: Uma ou menos vezes por mês</p>
                        <p>2 - Leve: Poucas vezes por mês</p>
                        <p>3 - Moderada: 1 a 2 vezes por semana</p>
                        <p>4 - Intensa: 3 a 5 vezes por semana</p>

                    </th>

                    <th>@Html.DropDownListFor(model => model.Actividade_fisica, (IEnumerable<SelectListItem>)ViewBag.Atividade)</th>



                    @Html.ValidationMessageFor(model => model.Actividade_fisica, "", new { @class = "text-danger" })
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nr_horas_sono)</th>

                    <th>@Html.EditorFor(model => model.Nr_horas_sono)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nr_refeicoes)</th>

                    <th>@Html.EditorFor(model => model.Nr_refeicoes)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Habitos_alcoolicos)</th>

                    <th>@Html.EditorFor(model => model.Habitos_alcoolicos)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.MMuscular)</th>

                    <th>@Html.EditorFor(model => model.MMuscular)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.MGorda)</th>

                    <th>@Html.EditorFor(model => model.MGorda)</th>
                </tr>




            </tbody>

        </table>

            <input type="submit" value="Guardar" id="submeter" />

            @Html.AntiForgeryToken()
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @*permite a utilizacao de comandos query*@
        @*<script>

                $('#edit').click(function () {
                    $('#tabela').removeClass("hidden");
                    $('#tabela').show();

                    $('#submeter').removeClass("hidden");

                })
            </script>*@

        <script>

            //$(function () {

            //    $('#Data_Nascimento').datepicker({
            //        dateFormat: '{0:DD/MM/YYYY}'
            //    });

            //});

        </script>
    }
    @* <dt>Password:</dt> *@
    @*  [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication *@

    @*
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
            }
        </dd>
    *@
    @*  <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication. *@
    @*</p>*@
    @*@if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Enabled
                <input type="submit" value="Disable" class="btn btn-link" />
                </text>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Disabled
                <input type="submit" value="Enable" class="btn btn-link" />
                </text>
            }
                    </dd>
        }*@




</div>

    </body>
