@model HealthyProject.Models.LoginViewModel

<br />
<br />
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<body>
    @if (User.Identity.IsAuthenticated)
    {
        if (ViewBag.UserGuide != null)
        {
            <br />
            <br />
            <br />
            <div class="centerAlign">
                <div class="alert alert-success alert-dismissable">
                    <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Bem vindo ao HealthyProject! Iremos agora acompanhar-te no teu percurso inicial pelo nosso website, mostrando as suas funcionalidades.</strong>
                    <br />
                    <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Nesta página apresentamos imagens das nossas funcionalidades disponíveis bem como links para as mesmas. </strong>
                    <br />
                    <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>No entanto, antes de começares o teu percurso na nossa página precisas de preencher o teu perfil. Por favor carrega no botão abaixo e cria o teu perfil.</strong>
                    <br />
                    <br />
                    @Html.ActionLink("Criar Perfil", "Index", "Manage", null, htmlAttributes: new { @class = "mybtn" })
                </div>
            </div>
        }
        <div class="row" style="text-align:center;padding:200px 0;">


            <div class="col-md-4">
                <br />
                <br />
                <img src="http://www.pcmanias.com/wp-content/uploads/2015/10/forum3.jpg" style="width:250px;height:250px;" />
                @Html.ActionLink("Clique para ir para o Forum", "Index", "Forum", null, htmlAttributes: new { @class = "mybtn", id = "registerLink" })
            </div>

            <div class="col-md-4">
                <br />
                <br />
                <img src="http://cardiacconnect.org.au/wp-content/uploads/2015/12/Healthy-Eating-197x197.png" style=" width:250px;height:250px" />
                @Html.ActionLink("Clique para adicionar/gerir as suas Refeicoes", "Index", "Refeicoes", null, htmlAttributes: new { @class = "mybtn", id = "registerLink" })
            </div>

            <div class="col-md-4">
                <br />
                <br />
                <img src="http://igner.info/images/img_84723-75.jpg" style="width:250px;height:200px; " />
                @Html.ActionLink("Clique para definir um Objetivo", "Index", "Objectivoes", null, htmlAttributes: new { @class = "mybtn", id = "registerLink" })
            </div>
        </div>
    }
    else
    {
        <div style="padding-left:600px; text-align: center">

            <br />
            <br />
            <b style="font-family:MingLiU_HKSCS; font-size:xx-large">  Gostaria de ter maior controlo sobre o seu peso? </b>

            <b style="font-family:MingLiU_HKSCS; font-size:xx-large"> Um estilo de vida saudável? </b>

            <b style="font-family:MingLiU_HKSCS; font-size:xx-large"> Melhor gestão das suas refeições?  </b>
            <br />
            <br />
            <br />
            <br />
            <b style="text-align: center; text-transform:uppercase; font-family:MingLiU_HKSCS; font-size:xx-large"> Healthy Project monitoriza o seu peso e ajuda-o a alcançar os seus objectivos!</b>.
            <br />
            <br />
            <br />

        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row" style="padding-left: 700px">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>

                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                    }
                </section>
            </div>
            <div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new HealthyProject.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        <br />
        <br />
        <br />
    }
</body>