@model HealthyProject.Models.LoginViewModel
<br />
<br />
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<body style="background-image:url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?auto=format&fit=crop&w=931&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); background-size:cover">

    @*@if(ViewBag.Sucess == null){*@
    @if (User.Identity.IsAuthenticated)
    {
        if (ViewBag.UserGuide != null)
        {
            <br />
            <br />
            <br />
            <div class="centerAlign">
                <div class="alert alert-success alert-dismissable">
                    <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Bem vindo ao HealthyProject! Iremos agora acompanhar-te no teu percurso inicial pelo nosso website, mostrando as suas funcionalidades.</strong>
                    <br />
                    <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Nesta página apresentamos imagens das nossas funcionalidades disponíveis bem como links para as mesmas. </strong>
                    <br />
                    <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>No entanto, antes de começares o teu percurso na nossa página precisas de preencher o teu perfil. Por favor carrega no botão abaixo e cria o teu perfil.</strong>
                    <br />
                    <br />
                    @Html.ActionLink("Criar Perfil", "Index", "Manage", null, htmlAttributes: new { @class = "mybtn" })
                </div>
            </div>
        }
        <div style="text-align:center;padding-left:500px">
            <br />
            <br />
            <br />
            <br />
            <br />

            <br />
            <div>

                <br />
                <br />

                @Html.ActionLink(" Fórum", "Index", "Forum", null, htmlAttributes: new { @class = "btn1", id = "registerLink" })
            </div>
            <div>
                <br />
                <br />

                @Html.ActionLink("Gestão de refeições", "Index", "Refeicoes", null, htmlAttributes: new { @class = "btn1", id = "registerLink" })
            </div>
            <div>
                <br />
                <br />

                @Html.ActionLink(" Objectivos", "Index", "Objectivoes", null, htmlAttributes: new { @class = "btn1", id = "registerLink" })
            </div>
        </div>
    }

    else
    {


        <div style="padding-left:600px; text-align: center">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
           
            <br />
            <b style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-size:xx-large"> Atinja os seus objetivos com Healthy Project!</b>.
            <br />
            <br />
            <br />

        </div>
        
        <br />

        <br />
        <br />



        <div >
            <div style="padding-left:600px" >

                <section id="socialLoginForm">
                     @Html.Partial("_ExternalLoginsListPartial", new HealthyProject.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        
            <br />
            <br />

            <div style="padding-left:800px">

                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Registe-se", "Register", "Account")
                        </p>

                        <p >
                            @Html.ActionLink("Esqueceu-se da password?", "ForgotPassword")
                        </p>
                    }
                </section>
            </div>
           
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

        }
        <br />
        <br />
        <br />
    }
</body>
