@model IEnumerable<HealthyProject.Models.Utilizador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Altura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actividade_fisica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nr_horas_sono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nr_refeicoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitos_alcoolicos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MMuscular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MGorda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Altura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actividade_fisica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nr_horas_sono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nr_refeicoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitos_alcoolicos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MMuscular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MGorda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
