@model HealthyProject.Models.RefeicaoPrato

@{
    ViewBag.Title = "Delete";
}

<!--<h2>Delete</h2>-->
<br />
<br />
<h3>Tem a certeza que pretende eliminar este prato?</h3>
<br />
<div>
    <h4>Prato</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Prato.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prato.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dose) gr
        </dd>

        <dt>
            Refeição@*@Html.DisplayNameFor(model => model.Refeico.Tipo)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Refeico.Tipo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regressar", "Index", "Refeicoes", new { dateInput = Model.Refeico.Data}, null)
        </div>
    }
</div>
