@model HealthyProject.Models.RefeicaoPrato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RefeicaoPrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prato.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prato.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Refeico.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Refeico.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
