@model IEnumerable<HealthyProject.Models.RefeicaoPrato>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prato.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Refeico.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prato.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Refeico.Tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
