@model IEnumerable<HealthyProject.Models.Categoria>

@{
    ViewBag.Title = "Categoria";
}

<p>
    @Html.ActionLink("Nova categoria", "createCategoria", "Categorias");
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoriaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoriaID }) |
           
        </td>
    </tr>
}

</table>
